<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Restaurantslider>
            <version>0.1.0</version>
        </Magentothem_Restaurantslider>
    </modules>
    <frontend>
        <routers>
            <restaurantslider>
                <use>standard</use>
                <args>
                    <module>Magentothem_Restaurantslider</module>
                    <frontName>restaurantslider</frontName>
                </args>
            </restaurantslider>
        </routers>
        <layout>
            <updates>
                <restaurantslider>
                    <file>restaurantslider.xml</file>
                </restaurantslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<restaurantslider>
				<use>admin</use>
				<args>
					<module>Magentothem_Restaurantslider</module>
					<frontName>restaurantslider</frontName>
				</args>
			</restaurantslider>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="restaurantslider">
				<title>Admin Banners</title>
				<sort_order>71</sort_order>               
				<children>
					<restaurantslider translate="title" module="restaurantslider">
						<title>Banner restaurantes</title>
						<sort_order>30</sort_order>
						<children>
							<items translate="title" module="restaurantslider">
								<title>Manage Items</title>
								<sort_order>0</sort_order>
								<action>restaurantslider/adminhtml_restaurantslider</action>
							</items>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/restaurantslider</action>
							</configuration>
						</children>
					</restaurantslider>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Restaurantslider>
							<title>Restaurantslider Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Restaurantslider>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<restaurantslider>
					<file>restaurantslider.xml</file>
				</restaurantslider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <restaurantslider>
                <class>Magentothem_Restaurantslider_Model</class>
                <resourceModel>restaurantslider_mysql4</resourceModel>
            </restaurantslider>
            <restaurantslider_mysql4>
                <class>Magentothem_Restaurantslider_Model_Mysql4</class>
                <entities>
                    <restaurantslider>
                        <table>restaurantslider</table>
                    </restaurantslider>
                </entities>
            </restaurantslider_mysql4>
        </models>
        <resources>
            <restaurantslider_setup>
                <setup>
                    <module>Magentothem_Restaurantslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </restaurantslider_setup>
            <restaurantslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </restaurantslider_write>
            <restaurantslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </restaurantslider_read>
        </resources>
        <blocks>
            <restaurantslider>
                <class>Magentothem_Restaurantslider_Block</class>
            </restaurantslider>
        </blocks>
        <helpers>
            <restaurantslider>
                <class>Magentothem_Restaurantslider_Helper</class>
            </restaurantslider>
        </helpers>
    </global>
	<default>
		<restaurantslider>
			<restaurantslider_config>
				<enabled>1</enabled>
				<auto>1</auto>
				<width_slider>600</width_slider>
				<height_slider>330</height_slider>
				<description>0</description>
				<qty>9</qty>
				<items>4</items>
				<items_scroll>1</items_scroll>
				<animation>1000</animation>
				<width_thumbnail>135</width_thumbnail>
				<height_thumbnail>135</height_thumbnail>
			</restaurantslider_config>
		</restaurantslider>
	</default>
</config>