<?xml version="1.0"?>
<config>
    <modules>
        <Bestchoice_Recipe>
            <version>0.1.0</version>
        </Bestchoice_Recipe>
    </modules>
    <frontend>
        <routers>
            <recipe>
                <use>standard</use>
                <args>
                    <module>Bestchoice_Recipe</module>
                    <frontName>recipe</frontName>
                </args>
            </recipe>
        </routers>
        <layout>
            <updates>
                <recipe>
                    <file>recipe.xml</file>
                </recipe>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<recipe>
				<use>admin</use>
				<args>
					<module>Bestchoice_Recipe</module>
					<frontName>recipe</frontName>
				</args>
			</recipe>
        </routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Bestchoice_Recipe>
							<title>Recipe Module</title>
							<sort_order>10</sort_order>
						</Bestchoice_Recipe>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<recipe>
					<file>recipe.xml</file>
				</recipe>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <recipe>
                <class>Bestchoice_Recipe_Model</class>
                <resourceModel>recipe_mysql4</resourceModel>
            </recipe>
            <recipe_mysql4>
                <class>Bestchoice_Recipe_Model_Mysql4</class>
                <entities>
                    <recipe>
                        <table>recipe</table>
                    </recipe>
                </entities>
            </recipe_mysql4>
        </models>
        <resources>
            <recipe_setup>
                <setup>
                    <module>Bestchoice_Recipe</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </recipe_setup>
            <recipe_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </recipe_write>
            <recipe_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </recipe_read>
        </resources>
        <blocks>
            <recipe>
                <class>Bestchoice_Recipe_Block</class>
            </recipe>
        </blocks>
        <helpers>
            <recipe>
                <class>Bestchoice_Recipe_Helper</class>
            </recipe>
        </helpers>
    </global>
</config>