<?xml version="1.0"?>
<!--
/**
 * @category   MathieuF
 * @package    MathieuF_EventsCalendar
 * @author     Mathieu Fortin <mathieu@calinsetpopotin.com>
 */
-->
<config>
    <modules>
        <MathieuF_EventsCalendar>
            <version>0.2.1</version>
        </MathieuF_EventsCalendar>
    </modules>
    <global>
        <models>
            <mathieufeventscal>
                <class>MathieuF_EventsCalendar_Model</class>
                <resourceModel>mathieufeventscal_mysql4</resourceModel>
            </mathieufeventscal>
            <mathieufeventscal_mysql4>
                <class>MathieuF_EventsCalendar_Model_Mysql4</class>
                <entities>
                    <event>
                        <table>mathieufeventscal_event</table>
                    </event>
                </entities>
            </mathieufeventscal_mysql4>
        </models>
        <resources>
            <mathieufeventscal_setup>
                <setup>
                    <module>MathieuF_EventsCalendar</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mathieufeventscal_setup>
            <mathieufeventscal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mathieufeventscal_write>
            <mathieufeventscal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mathieufeventscal_read>
        </resources>
        <helpers>
            <mathieufeventscal><class>MathieuF_EventsCalendar_Helper</class></mathieufeventscal>
        </helpers>
        <blocks>
            <mathieufeventscal><class>MathieuF_EventsCalendar_Block</class></mathieufeventscal>
        </blocks>
        <mathieufeventscal>
            <private_fields></private_fields>
        </mathieufeventscal>
    </global>
    <frontend>
        <routers>
            <mathieufeventscal>
                <use>standard</use>
                <args>
                    <module>MathieuF_EventsCalendar</module>
                    <frontName>mathieufeventscal</frontName>
                </args>
            </mathieufeventscal>
        </routers>
        <translate>
            <modules>
                <MathieuF_EventsCalendar>
                    <files>
                        <default>MathieuF_EventsCalendar.csv</default>
                    </files>
                </MathieuF_EventsCalendar>
            </modules>
        </translate>
          <layout>
              <updates>
                  <mathieufeventscal module="MathieuF_EventsCalendar">
                      <file>mathieufeventscal.xml</file>
                  </mathieufeventscal>
              </updates>
          </layout>
    </frontend>
    <admin>
         <routers>
            <mathieufeventscal>
                <use>admin</use>
                <args>
                    <module>MathieuF_EventsCalendar</module>
                    <frontName>mathieufeventscal</frontName>
                </args>
            </mathieufeventscal>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <mathieufeventscal translate="title" module="mathieufeventscal">
                        <title>Events Calendar</title>
                        <action>mathieufeventscal/adminhtml_event/</action>
                    </mathieufeventscal>
                 </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mathieufeventscal>
                                            <title>Events Calendar</title>
                                        </mathieufeventscal>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <MathieuF_EventsCalendar>
                    <files>
                        <default>MathieuF_EventsCalendar.csv</default>
                    </files>
                </MathieuF_EventsCalendar>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <mathieufeventscal>
            <general>
                <show_months>1</show_months>
            </general>
        </mathieufeventscal>
    </default>
</config>
