<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Banner4>
            <version>1.5.0.1</version>
        </Magentothem_Banner4>
    </modules>
    <frontend>
        <routers>
            <banner4>
                <use>standard</use>
                <args>
                    <module>Magentothem_Banner4</module>
                    <frontName>banner4</frontName>
                </args>
            </banner4>
        </routers>
        <layout>
            <updates>
                <banner4>
                    <file>banner4.xml</file>
                </banner4>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<banner4>
				<use>admin</use>
				<args>
					<module>Magentothem_Banner4</module>
					<frontName>banner4</frontName>
				</args>
			</banner4>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="banner4">
				<title>Admin Banners</title>
				<sort_order>71</sort_order>               
				<children>
					<banner4 translate="title" module="banner4">
						<title>Banner home</title>
						<sort_order>4</sort_order>
						<children>
							<items translate="title" module="banner4">
								<title>Manage Items</title>
								<sort_order>0</sort_order>
								<action>banner4/adminhtml_banner4</action>
							</items>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/banner4</action>
							</configuration>
						</children>
					</banner4>
				</children>
			</magentothem>
		</menu>
		<layout>
			<updates>
				<banner4>
					<file>banner4.xml</file>
				</banner4>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <banner4>
                <class>Magentothem_Banner4_Model</class>
                <resourceModel>banner4_mysql4</resourceModel>
            </banner4>
            <banner4_mysql4>
                <class>Magentothem_Banner4_Model_Mysql4</class>
                <entities>
                    <banner4>
                        <table>banner4</table>
                    </banner4>
                </entities>
            </banner4_mysql4>
        </models>
        <resources>
            <banner4_setup>
                <setup>
                    <module>Magentothem_Banner4</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banner4_setup>
            <banner4_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banner4_write>
            <banner4_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banner4_read>
        </resources>
        <blocks>
            <banner4>
                <class>Magentothem_Banner4_Block</class>
            </banner4>
        </blocks>
        <helpers>
            <banner4>
                <class>Magentothem_Banner4_Helper</class>
            </banner4>
        </helpers>
    </global>
	<default>
		<banner4>
			<banner4_config>
				<enabled>1</enabled>
				<animation>fadeZoom</animation>
				<width>600</width>
				<height>250</height>
				<speed>1000</speed>
				<interval>4000</interval>
				<qty_item>4</qty_item>
				<next_back>1</next_back>
			</banner4_config>
		</banner4>
	</default>
</config>