<?xml version="1.0"?>
<config>
	<tabs>
		<magentothem translate="label" module="catalogslide">
			<label>Magentothem</label>
			<sort_order>205</sort_order>
		</magentothem>
	</tabs>
	<sections>
		<catalogslide translate="label" module="catalogslide">
			<label>Catalogslide</label>
			<tab>magentothem</tab>
			<sort_order>131</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<catalogslide_config translate="label">
					<label>Catalogslide Config</label>
					<frontend_type>text</frontend_type>
					<sort_order>1</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<enabled translate="label comment">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</enabled>						
                        <animation translate="label">
                            <label>Animation Type: </label>
                            <frontend_type>select</frontend_type>
                            <source_model>
								catalogslide/config_mode
							</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </animation>
						<width translate="label">
                            <label>Width: </label>
                            <frontend_type>text</frontend_type>
							<comment>Width of Banner (px)</comment>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </width>  
                        <height translate="label">
                            <label>Height: </label>
                            <frontend_type>text</frontend_type>
							<comment>Height of Banner (px)</comment>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </height>
                        <speed translate="label">
                            <label>Speed: </label>
                            <frontend_type>text</frontend_type>
							<comment>Animation transition speed (ms)</comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </speed>
						<interval>
							<label>Interval: </label>
							<frontend_type>text</frontend_type>
							<comment>Interval between image change (ms)</comment>
							<sort_order>32</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_store>1</show_in_store>
							<show_in_website>1</show_in_website>
						</interval>
						<qty_item translate="label">
                            <label>Qty of Items: </label>
                            <frontend_type>text</frontend_type>
							<comment>Number item display</comment>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </qty_item>
						<next_back translate="label">
							<label>Show Next/Back control: </label>
							<frontend_type>select</frontend_type>
							<source_model>
								adminhtml/system_config_source_yesno
							</source_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</next_back>
					</fields>
				</catalogslide_config>						
			</groups>
		</catalogslide>
	</sections>
</config>


