<?xml version="1.0"?>
<config>
	<default>
		<glossary>
			<replacings>
				<popup_height>300</popup_height>
				<popup_width>300</popup_width>
				<open_popup>0</open_popup>
				<show_empty>0</show_empty>
				<cat_replace>0</cat_replace>
				<glos_replace>1</glos_replace>
				<prod_replace>0</prod_replace>
				<d_replace>0</d_replace>
				<sd_replace>0</sd_replace>
				<cms_replace>0</cms_replace>
				<cache_expiration>3600</cache_expiration>
			</replacings>
		</glossary>
	</default>
	<modules>
		<Kreativkonzentrat_Glossary>
			<version>0.5.1</version>
		</Kreativkonzentrat_Glossary>
	</modules>
	<frontend>
		<translate>
			<modules>
				<glossary>
					<files>
						<default>Kreativkonzentrat_Glossary.csv</default>
					</files>
				</glossary>
			</modules>
		</translate>
		<routers>
			<glossary>
				<use>standard</use>
				<args>
					<module>Kreativkonzentrat_Glossary</module>
					<frontName>glossary</frontName>
				</args>
			</glossary>
		</routers>
		<layout>
			<updates>
				<glossary>
					<file>glossary.xml</file>
				</glossary>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<glossary_admin>
				<use>admin</use>
				<args>
					<module>Kreativkonzentrat_Glossary</module>
					<frontName>glossary_admin</frontName>
				</args>
			</glossary_admin>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<glossary>
					<files>
						<default>Kreativkonzentrat_Glossary.csv</default>
					</files>
				</glossary>
			</modules>
		</translate>
		<menu>
			<glossary module="glossary">
				<title>Glossary</title>
				<sort_order>71</sort_order>
				<children>
					<items module="glossary">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>glossary_admin/adminhtml_glossary</action>
					</items>
				</children>
			</glossary>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<glossary translate="title" module="glossary">
											<title>Glossary Module</title>
											<sort_order>41</sort_order>
										</glossary>
									</children>
								</config>
							</children>
						</system>
						<glossary translate="title" module="glossary">
							<title>Glossary Module</title>
							<sort_order>10</sort_order>
							<children>
								<items module="glossary">
									<title>Mange items</title>
								</items>
							</children>
						</glossary>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<glossary>
					<file>glossary.xml</file>
				</glossary>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<models>
			<catalog>
				<rewrite>
					<product>Kreativkonzentrat_Glossary_Model_Product</product>
				</rewrite>
			</catalog>
			<cms>
				<rewrite>
					<page>Kreativkonzentrat_Glossary_Model_Page</page>
				</rewrite>
			</cms>
			<glossary>
				<class>Kreativkonzentrat_Glossary_Model</class>
				<resourceModel>glossary_mysql4</resourceModel>
			</glossary>
			<glossary_mysql4>
				<class>Kreativkonzentrat_Glossary_Model_Mysql4</class>
				<entities>
					<glossary>
						<table>glossary</table>
					</glossary>
					<glossary_store>
						<table>glossary_store</table>
					</glossary_store>
				</entities>
			</glossary_mysql4>
		</models>
		<resources>
			<glossary_setup>
				<setup>
					<module>Kreativkonzentrat_Glossary</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</glossary_setup>
			<glossary_write>
				<connection>
					<use>core_write</use>
				</connection>
			</glossary_write>
			<glossary_read>
				<connection>
					<use>core_read</use>
				</connection>
			</glossary_read>
		</resources>
		<blocks>
			<glossary>
				<class>Kreativkonzentrat_Glossary_Block</class>
			</glossary>
		</blocks>
		<helpers>
			<glossary>
				<class>Kreativkonzentrat_Glossary_Helper</class>
			</glossary>
		</helpers>
		<events>
			<controller_front_init_routers>
				<observers>
					<glossary>
						<type>singleton</type>
						<class>Kreativkonzentrat_Glossary_Controller_Router</class>
						<method>initControllerRouters</method>
					</glossary>
				</observers>
			</controller_front_init_routers>
		</events>
	</global>
</config>