<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Qsomos>
            <version>0.1.0</version>
        </Magentothem_Qsomos>
    </modules>
    <frontend>
        <routers>
            <qsomos>
                <use>standard</use>
                <args>
                    <module>Magentothem_Qsomos</module>
                    <frontName>qsomos</frontName>
                </args>
            </qsomos>
        </routers>
        <layout>
            <updates>
                <qsomos>
                    <file>qsomos.xml</file>
                </qsomos>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<qsomos>
				<use>admin</use>
				<args>
					<module>Magentothem_Qsomos</module>
					<frontName>qsomos</frontName>
				</args>
			</qsomos>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="qsomos">
				<title>Admin Banners</title>
				<sort_order>71</sort_order>               
				<children>
					<qsomos translate="title" module="qsomos">
						<title>Banner quienes somos</title>
						<sort_order>4</sort_order>
						<children>
							<items translate="title" module="qsomos">
								<title>Manage Items</title>
								<sort_order>0</sort_order>
								<action>qsomos/adminhtml_qsomos</action>
							</items>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/qsomos</action>
							</configuration>
						</children>
					</qsomos>
				</children>
			</magentothem>
		</menu>
		<layout>
			<updates>
				<qsomos>
					<file>qsomos.xml</file>
				</qsomos>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <qsomos>
                <class>Magentothem_Qsomos_Model</class>
                <resourceModel>qsomos_mysql4</resourceModel>
            </qsomos>
            <qsomos_mysql4>
                <class>Magentothem_Qsomos_Model_Mysql4</class>
                <entities>
                    <qsomos>
                        <table>qsomos</table>
                    </qsomos>
                </entities>
            </qsomos_mysql4>
        </models>
        <resources>
            <qsomos_setup>
                <setup>
                    <module>Magentothem_Qsomos</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </qsomos_setup>
            <qsomos_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </qsomos_write>
            <qsomos_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </qsomos_read>
        </resources>
        <blocks>
            <qsomos>
                <class>Magentothem_Qsomos_Block</class>
            </qsomos>
        </blocks>
        <helpers>
            <qsomos>
                <class>Magentothem_Qsomos_Helper</class>
            </qsomos>
        </helpers>
    </global>
	<default>
		<qsomos>
			<qsomos_config>
				<enabled>1</enabled>
				<animation>fadeZoom</animation>
				<width>600</width>
				<height>250</height>
				<speed>1000</speed>
				<interval>4000</interval>
				<qty_item>4</qty_item>
				<next_back>1</next_back>
			</qsomos_config>
		</qsomos>
	</default>
</config>